In [2]:
import pandas as pd
pd.set_option("display.max_rows", 999)
pd.set_option("display.max_columns", 999)
pd.set_option('display.max_rows', 999)
pd.set_option('display.min_rows', 999)

%config IPCompleter.use_jedi = False

In [49]:
grad = pd.read_csv('/Users/dave/src/CSE6242/LocalData/graduation_all.csv')
grad.columns = grad.columns.str.lower()
display(grad.shape)
# display(grad.head())

grad['year'] = grad.srcyear.astype(str).str[:4]
display(grad.head())
grad = grad[grad.subgroup == 1.0]
grad.year = grad.year.astype('int')
display(grad.shape)
# display(grad.year.value_counts())
# display(grad.dtypes)
grad.year.value_counts()

(419223, 13)

,district_cd,cohortye,total,gr_droppedout,gr_graduated,gr_iep,gr_ged,gr_stillenrolled,outcome_yrs,srcyear,subgroup,_name_,gr_local_cnt,year
0,10100,2013,658,148.0,464,16.0,0.0,30.0,6.0,201906,1.0,NaN,63.0,2019
1,10100,2015,704,115.0,452,7.0,7.0,123.0,4.0,201906,1.0,NaN,44.0,2019
2,10100,2014,678,140.0,474,14.0,7.0,43.0,5.0,201906,1.0,NaN,64.0,2019
3,10100,2014,343,86.0,219,11.0,2.0,25.0,5.0,201906,2.0,NaN,34.0,2019
4,10100,2015,362,66.0,211,5.0,5.0,75.0,4.0,201906,2.0,NaN,26.0,2019

(32256, 14)

2008    4800
2011    3434
2009    2750
2007    2136
2010    2065
2013    2061
2012    2061
2014    2050
2016    2048
2015    2046
2017    2046
2019    2037
2018    2037
2005     685
Name: year, dtype: int64

{2009, 2010, 2011, 2012, 2013, 2014}

In [44]:
grad_year = set(list(grad.year.values))
apm_year = set(list(apm.year.values))
for year in apm_year:
    print(year in grad_year)

True
True
True
True
True
True

In [50]:
## Let's ignore APM because of the lack of years of data (and the fact that we don't know what APM means.)

apm = pd.read_csv("/Users/dave/src/CSE6242/LocalData/apm_all.csv")
apm.columns = apm.columns.str.lower()
# display(apm.subgroup.value_counts())
apm = apm[apm.subgroup == 1]
display(apm.shape)
display(apm.head())
display(apm.year.value_counts())

(4110, 7)

   bedscode  year  cohortyr  cohortcount  apmcount       apmp  subgroup
0     10100  2009      2006          703     106.0  15.078236         1
1     10100  2010      2007          766      83.0  10.835509         1
2     10100  2011      2008          712      99.0  13.904494         1
3     10100  2012      2009          654     101.0  15.443425         1
4     10100  2013      2010          594      93.0  15.656566         1

2011    688
2009    688
2012    685
2010    684
2013    683
2014    682
Name: year, dtype: int64

In [56]:
demo.dtypes

district               int64
year                   int64
num_asian            float64
num_black            float64
num_hisp             float64
num_am_ind           float64
num_white            float64
num_female           float64
num_male             float64
num_lep              float64
num_free_lunch       float64
num_reduced_lunch    float64
num_multi            float64
num_swd              float64
num_ecdis            float64
num_ell              float64
dtype: object

In [58]:
demo = pd.read_csv('/Users/dave/src/CSE6242/LocalData/Demographics_all.csv')
demo.columns = demo.columns.str.lower()
display(demo.shape)
display(demo.head(30))

(19897, 16)

,district,year,num_asian,num_black,num_hisp,num_am_ind,num_white,num_female,num_male,num_lep,num_free_lunch,num_reduced_lunch,num_multi,num_swd,num_ecdis,num_ell
0,10100,1993,255.0,4951.0,483.0,7.0,3555.0,4663.0,4588.0,133.0,4736.0,658.0,NaN,NaN,NaN,NaN
1,10100,1994,279.0,5106.0,520.0,13.0,3442.0,4644.0,4716.0,206.0,4762.0,672.0,NaN,NaN,NaN,NaN
2,10100,1995,365.0,5448.0,585.0,14.0,3296.0,4873.0,4835.0,260.0,5232.0,659.0,NaN,NaN,NaN,NaN
3,10100,1996,283.0,5809.0,603.0,25.0,3247.0,4933.0,5034.0,268.0,5058.0,575.0,NaN,NaN,NaN,NaN
4,10100,1997,278.0,6101.0,647.0,28.0,3196.0,5015.0,5235.0,300.0,5299.0,594.0,NaN,NaN,NaN,NaN
5,10100,1998,275.0,6252.0,711.0,25.0,3117.0,5110.0,5270.0,308.0,5823.0,787.0,NaN,NaN,NaN,NaN
6,10100,1999,275.0,6091.0,734.0,29.0,3003.0,5022.0,5110.0,284.0,5249.0,805.0,NaN,NaN,NaN,NaN
7,10100,2000,271.0,6283.0,785.0,28.0,2744.0,5032.0,5079.0,344.0,5461.0,873.0,NaN,NaN,NaN,NaN
8,10100,2001,303.0,6160.0,862.0,24.0,2505.0,4821.0,5033.0,261.0,5869.0,907.0,NaN,NaN,NaN,NaN
9,10100,2002,261.0,6177.0,887.0,32.0,2299.0,4662.0,4994.0,324.0,5844.0,867.0,NaN,NaN,NaN,NaN
10,10100,2003,273.0,6453.0,921.0,24.0,2242.0,4847.0,5066.0,233.0,5069.0,821.0,NaN,NaN,NaN,NaN
11,10100,2004,272.0,6293.0,952.0,37.0,1954.0,4645.0,4863.0,259.0,5968.0,1080.0,NaN,NaN,NaN,NaN
12,10100,2005,269.0,5952.0,918.0,21.0,1884.0,NaN,NaN,300.0,5505.0,970.0,0.0,NaN,NaN,NaN
13,10100,2006,290.0,5383.0,922.0,141.0,1725.0,NaN,NaN,386.0,4811.0,936.0,142.0,NaN,NaN,NaN
14,10100,2007,360.0,5281.0,940.0,24.0,1654.0,NaN,NaN,382.0,3992.0,789.0,77.0,NaN,NaN,NaN
15,10100,2008,382.0,4894.0,908.0,27.0,1592.0,NaN,NaN,405.0,4660.0,757.0,96.0,NaN,NaN,NaN
16,10100,2009,463.0,4834.0,946.0,44.0,1687.0,NaN,NaN,502.0,4015.0,676.0,5.0,NaN,NaN,NaN
17,10100,2010,539.0,4874.0,1009.0,37.0,1697.0,NaN,NaN,534.0,4275.0,628.0,72.0,NaN,NaN,NaN
18,10100,2011,597.0,4416.0,1095.0,34.0,1682.0,NaN,NaN,540.0,4785.0,546.0,148.0,NaN,NaN,NaN
19,10100,2012,665.0,4205.0,1181.0,28.0,1708.0,3912.0,4088.0,609.0,4834.0,594.0,213.0,1161.0,6046.0,NaN
20,10100,2013,746.0,4178.0,1294.0,30.0,1708.0,4053.0,4219.0,719.0,5652.0,342.0,316.0,1169.0,5994.0,NaN
21,10100,2014,747.0,4156.0,1345.0,26.0,1755.0,4092.0,4299.0,754.0,4803.0,39.0,362.0,1143.0,4842.0,754.0
22,10100,2015,792.0,4441.0,1463.0,31.0,1759.0,4375.0,4551.0,825.0,5264.0,102.0,440.0,1160.0,5366.0,825.0
23,10100,2016,794.0,4309.0,1547.0,33.0,1839.0,4390.0,4607.0,989.0,5096.0,91.0,475.0,1193.0,5187.0,1006.0
24,10100,2017,909.0,4670.0,1792.0,34.0,2005.0,4875.0,5163.0,1078.0,6220.0,77.0,628.0,1328.0,6622.0,NaN
25,10100,2018,883.0,4559.0,1827.0,23.0,1912.0,4762.0,5070.0,1022.0,NaN,NaN,628.0,1349.0,6400.0,NaN
26,10100,2019,836.0,4388.0,1765.0,29.0,1883.0,4641.0,4916.0,923.0,NaN,NaN,656.0,1372.0,5743.0,NaN
27,10201,1993,3.0,5.0,2.0,0.0,1256.0,600.0,666.0,0.0,204.0,93.0,NaN,NaN,NaN,NaN
28,10201,1994,2.0,5.0,2.0,0.0,1229.0,605.0,633.0,0.0,195.0,93.0,NaN,NaN,NaN,NaN
29,10201,1995,1.0,1.0,1.0,0.0,1253.0,603.0,653.0,0.0,206.0,74.0,NaN,NaN,NaN,NaN

In [87]:
df1 = pd.merge(grad, demo, 
               how='inner', 
               left_on=["district_cd", "year"], 
               right_on=["district", "year"], 
               suffixes=["_from_grad", "_from_demo"])
display(df1.shape)
display(df1.num_free_lunch.shape)
display(df1.num_free_lunch.count())
display(df1.head())
display(df1.dtypes)

(32114, 29)

(32114,)

28046

,district_cd,cohortye,total,gr_droppedout,gr_graduated,gr_iep,gr_ged,gr_stillenrolled,outcome_yrs,srcyear,subgroup,_name_,gr_local_cnt,year,district,num_asian,num_black,num_hisp,num_am_ind,num_white,num_female,num_male,num_lep,num_free_lunch,num_reduced_lunch,num_multi,num_swd,num_ecdis,num_ell
0,10100,2013,658,148.0,464,16.0,0.0,30.0,6.0,201906,1.0,NaN,63.0,2019,10100,836.0,4388.0,1765.0,29.0,1883.0,4641.0,4916.0,923.0,NaN,NaN,656.0,1372.0,5743.0,NaN
1,10100,2015,704,115.0,452,7.0,7.0,123.0,4.0,201906,1.0,NaN,44.0,2019,10100,836.0,4388.0,1765.0,29.0,1883.0,4641.0,4916.0,923.0,NaN,NaN,656.0,1372.0,5743.0,NaN
2,10100,2014,678,140.0,474,14.0,7.0,43.0,5.0,201906,1.0,NaN,64.0,2019,10100,836.0,4388.0,1765.0,29.0,1883.0,4641.0,4916.0,923.0,NaN,NaN,656.0,1372.0,5743.0,NaN
3,10201,2013,63,3.0,58,0.0,0.0,2.0,6.0,201906,1.0,NaN,7.0,2019,10201,4.0,5.0,19.0,1.0,706.0,369.0,382.0,1.0,NaN,NaN,16.0,95.0,294.0,NaN
4,10201,2015,60,4.0,53,1.0,0.0,2.0,4.0,201906,1.0,NaN,4.0,2019,10201,4.0,5.0,19.0,1.0,706.0,369.0,382.0,1.0,NaN,NaN,16.0,95.0,294.0,NaN

district_cd            int64
cohortye               int64
total                  int64
gr_droppedout        float64
gr_graduated           int64
gr_iep               float64
gr_ged               float64
gr_stillenrolled     float64
outcome_yrs          float64
srcyear                int64
subgroup             float64
_name_               float64
gr_local_cnt         float64
year                   int64
district               int64
num_asian            float64
num_black            float64
num_hisp             float64
num_am_ind           float64
num_white            float64
num_female           float64
num_male             float64
num_lep              float64
num_free_lunch       float64
num_reduced_lunch    float64
num_multi            float64
num_swd              float64
num_ecdis            float64
num_ell              float64
dtype: object

In [79]:
faru = pd.read_csv("/Users/dave/src/CSE6242/LocalData/FARU_all.csv")
faru.columns = faru.columns.str.lower()
display(faru.shape)
display(faru.head())
display(faru[(faru.year == 2017) & (faru.district==10100)])

(16973, 57)

,district,year,ufb,staid,star,totstat,lrev,fedrev,totrev,state_aid_total_revenues,star_total_revenues,state_revenues_total_revenues,bded,cadm,tsal,pps,cds,boc,tui1,tui2,ois,oiexp,cser,opmt,tchr,heal,oeb,total_fringe_benefits,ound,oth,subtot,trans,dsp,dsi,texp,total_unexpended_surplus_funds_t,revenue_expenditures,var,dcaadm,rev_pupil,exp_pupil,av_twpu,inc_twpu,pwr,apwr,cwr,instructional_salaries,instructional_fringe_benefits,ins_fb,adjusted_expenditures__subtotal,ie1,ie1_total,ie2_instructional_expenditures_i,ie2,ie3_instructional_expenditures_i,ie3_adj_exp,loc_eff_rate
0,10100,1993,1854895,16934676,0,16934676,66488852,6383699,89807227,0.188567,0.0,0.188567,187184,1583988,33882163,2546298,3613746,4011008,221043,3114619,6647725,5683450,1339253,6780512,3403677,5664870,5184750,14253297,887100,0,84751386,3115662,2300000,887396,91054444,0.020371,-1247217,-0.013697,8953,10030.964705,10170.271864,314863,121430,1.036074,1.564820,1.300447,50700940,1.260194e+07,0.138400,84530343,59722610.0,0.655900,7.232454e+07,0.794300,7.210350e+07,0.852990,18.30
1,10100,1994,1253596,18655844,0,18655844,69707374,7203710,95566928,0.195212,0.0,0.195212,193367,1609206,35412977,2691674,3822080,4655808,205534,3984355,7618170,4936565,1710177,6861240,4003149,6242065,5322188,15567402,642166,88000,89998721,3678595,2253725,970292,96901333,0.012937,-1334405,-0.013771,8759,10910.712182,11063.058911,363204,109516,1.211488,1.314718,1.263103,54200709,1.377348e+07,0.142139,89793187,63325021.0,0.653500,7.709850e+07,0.795639,7.689297e+07,0.856334,19.07
2,10100,1995,1398955,21545196,0,21545196,72490778,8147305,102183279,0.210849,0.0,0.210849,267938,1599476,36201701,2947401,3941852,6579358,445417,3632318,7785606,4828453,1828114,7251365,4117988,6515104,5530798,16163890,716007,0,94188896,3458290,2438178,1501528,101586892,0.013771,596387,0.005871,9183,11127.439726,11062.495045,344376,101507,1.286906,1.197017,1.241961,57455918,1.429631e+07,0.140730,93743479,62284371.0,0.613114,7.658068e+07,0.753844,7.613527e+07,0.812166,19.82
3,10100,1996,1402273,20084276,0,20084276,74708484,7225772,102018532,0.196869,0.0,0.196869,243552,1405459,37198543,2989764,3526082,4827345,1485941,2732153,8181280,5457712,1540393,6977558,4429147,6609955,5496916,16536018,699266,456390,94257456,3488711,3338178,1847425,102931770,0.013623,-913238,-0.008872,9564,10666.931409,10762.418444,372462,110012,1.453794,1.303460,1.378627,56723014,1.468647e+07,0.142682,92315125,66398820.0,0.645100,8.108529e+07,0.787758,7.959935e+07,0.862257,20.42
4,10100,1997,352482,23464008,0,23464008,85967045,9033277,118464330,0.198068,0.0,0.198068,219819,1595867,39481700,2804435,3450981,2704356,2177596,2349377,9374857,6208024,1233231,7872617,2689624,7798594,6067174,16555392,3828654,0,99856906,4331038,3638178,1854989,109681111,0.003214,8783219,0.080080,10005,11840.512744,10962.629785,327175,96636,1.302967,1.164289,1.233628,57816329,1.485880e+07,0.135473,97679310,68551326.0,0.625000,8.341012e+07,0.760478,8.123253e+07,0.831625,23.37

,district,year,ufb,staid,star,totstat,lrev,fedrev,totrev,state_aid_total_revenues,star_total_revenues,state_revenues_total_revenues,bded,cadm,tsal,pps,cds,boc,tui1,tui2,ois,oiexp,cser,opmt,tchr,heal,oeb,total_fringe_benefits,ound,oth,subtot,trans,dsp,dsi,texp,total_unexpended_surplus_funds_t,revenue_expenditures,var,dcaadm,rev_pupil,exp_pupil,av_twpu,inc_twpu,pwr,apwr,cwr,instructional_salaries,instructional_fringe_benefits,ins_fb,adjusted_expenditures__subtotal,ie1,ie1_total,ie2_instructional_expenditures_i,ie2,ie3_instructional_expenditures_i,ie3_adj_exp,loc_eff_rate
24,10100,2017,4177331,114932103,9000736,123932839,128385928,13497829,265816596,0.432374,0.033861,0.466234,553159,2797373,67715206,9594302,7015669,4809061,745793,6581786,19140366,50059088,0,10561414,7643361,26590518,14424953,48658832,2749272,0,230981321,9182876,10101276,5222444,255487917,0.01635,10328679,0.040427,11983,22183.0,21321.0,329617,128267,0.580925,0.638144,0.609535,108274604,45367059.0,0.17757,230235528,165661271.0,0.648411,211028330.0,0.825982,210282537.0,0.913337,26.49

1998    683
1997    683
1996    683
1994    683
1993    683
2000    681
2001    681
2002    681
2003    681
1995    681
1999    681
2007    678
2004    678
2005    678
2006    678
2009    677
2008    677
2010    677
2011    677
2012    677
2013    675
2017    675
2014    675
2016    675
2015    675
Name: year, dtype: int64

In [91]:
df = pd.merge(df1, faru, 
              how='inner', 
              left_on=["district_cd", "year"], 
              right_on=["district", "year"],
              suffixes=["_from_df1", "_from_faru"])
display(df.shape)
display(df.head(20))

(26298, 85)

,district_cd,cohortye,total,gr_droppedout,gr_graduated,gr_iep,gr_ged,gr_stillenrolled,outcome_yrs,srcyear,subgroup,_name_,gr_local_cnt,year,district_from_df1,num_asian,num_black,num_hisp,num_am_ind,num_white,num_female,num_male,num_lep,num_free_lunch,num_reduced_lunch,num_multi,num_swd,num_ecdis,num_ell,district_from_faru,ufb,staid,star,totstat,lrev,fedrev,totrev,state_aid_total_revenues,star_total_revenues,state_revenues_total_revenues,bded,cadm,tsal,pps,cds,boc,tui1,tui2,ois,oiexp,cser,opmt,tchr,heal,oeb,total_fringe_benefits,ound,oth,subtot,trans,dsp,dsi,texp,total_unexpended_surplus_funds_t,revenue_expenditures,var,dcaadm,rev_pupil,exp_pupil,av_twpu,inc_twpu,pwr,apwr,cwr,instructional_salaries,instructional_fringe_benefits,ins_fb,adjusted_expenditures__subtotal,ie1,ie1_total,ie2_instructional_expenditures_i,ie2,ie3_instructional_expenditures_i,ie3_adj_exp,loc_eff_rate
0,10100,2000,618,83.0,407,21.0,57.0,50.0,5.0,200506,1.0,NaN,NaN,2005,10100,269.0,5952.0,918.0,21.0,1884.0,NaN,NaN,300.0,5505.0,970.0,0.0,NaN,NaN,NaN,10100,5680290,54570126,10225351,64795477,98285968,16659701,179741146,0.303604,0.056889,0.360493,490999,2118256,54023846,5251097,4501195,3728010,188593,6610228,16305802,19303934,1199428,11203660,5165294,14257866,14441655,33864815,4053261,564400,163407524,5972182,7669294,5365766,182414766,0.031139,-2673620,-0.014657,10559,17022.553840,17275.761530,244659,93587,0.706290,0.789764,0.748027,83809950,3.117730e+07,0.170914,162986931,109912705.0,0.602543,1.410900e+08,0.773457,1.409014e+08,0.864495,26.51
1,10100,2001,579,100.0,384,40.0,27.0,28.0,5.0,200706,1.0,NaN,NaN,2007,10100,360.0,5281.0,940.0,24.0,1654.0,NaN,NaN,382.0,3992.0,789.0,77.0,NaN,NaN,NaN,10100,13358464,74675977,10131780,84807757,105784891,13677063,204269711,0.365575,0.049600,0.415175,385910,2055778,55114952,5988074,4266372,4793593,541340,7253219,17557992,26611527,602434,11451223,5439024,16966397,11086334,33491755,3264726,989999,174368894,6153173,7356028,6733231,194611326,0.068642,9658385,0.049629,10430,19584.823682,18658.804027,268181,99117,0.628353,0.725600,0.676977,87720983,3.087779e+07,0.158664,173595554,122127069.0,0.627543,1.530049e+08,0.786207,1.524635e+08,0.878269,21.95
2,10100,2001,579,84.0,327,30.0,26.0,112.0,4.0,200706,1.0,NaN,NaN,2007,10100,360.0,5281.0,940.0,24.0,1654.0,NaN,NaN,382.0,3992.0,789.0,77.0,NaN,NaN,NaN,10100,13358464,74675977,10131780,84807757,105784891,13677063,204269711,0.365575,0.049600,0.415175,385910,2055778,55114952,5988074,4266372,4793593,541340,7253219,17557992,26611527,602434,11451223,5439024,16966397,11086334,33491755,3264726,989999,174368894,6153173,7356028,6733231,194611326,0.068642,9658385,0.049629,10430,19584.823682,18658.804027,268181,99117,0.628353,0.725600,0.676977,87720983,3.087779e+07,0.158664,173595554,122127069.0,0.627543,1.530049e+08,0.786207,1.524635e+08,0.878269,21.95
3,10100,2001,579,103.0,397,41.0,29.0,9.0,6.0,200706,1.0,NaN,NaN,2007,10100,360.0,5281.0,940.0,24.0,1654.0,NaN,NaN,382.0,3992.0,789.0,77.0,NaN,NaN,NaN,10100,13358464,74675977,10131780,84807757,105784891,13677063,204269711,0.365575,0.049600,0.415175,385910,2055778,55114952,5988074,4266372,4793593,541340,7253219,17557992,26611527,602434,11451223,5439024,16966397,11086334,33491755,3264726,989999,174368894,6153173,7356028,6733231,194611326,0.068642,9658385,0.049629,10430,19584.823682,18658.804027,268181,99117,0.628353,0.725600,0.676977,87720983,3.087779e+07,0.158664,173595554,122127069.0,0.627543,1.530049e+08,0.786207,1.524635e+08,0.878269,21.95
4,10100,2002,602,143.0,389,22.0,15.0,33.0,5.0,200806,1.0,NaN,NaN,2008,10100,382.0,4894.0,908.0,27.0,1592.0,NaN,NaN,405.0,4660.0,757.0,96.0,NaN,NaN,NaN,10100,11443927,88986207,9683819,98670026,108582740,12186499,219439265,0.405516,0.044130,0.449646,325611,2333872,57538745,6323772,4632120,5340457,734445,7801336,18044340,30170560,428795,11628871,5143395,17442327,13876660,36462382,3527941,760170,186053417,6320002,8410609,6874804,207658832,0.055109,11780433,0.056730,10702,20504.509905,19403.740609,310466,103451,0.650327,0.694768,0.672548,91879434,3.307660e+07,0.159283,185202972,130585775.0,0.628800,1.636624e+08,0.788131,1.629279e+08,0.879726,21.25
5,10100,2002,602,131.0,335,17.0,14.0,105.0,4.0,200806,1.0,NaN,NaN,2008,10100,382.0,4894.0,908.0,27.0,1592.0,NaN,NaN,405.0,4660.0,757.0,96.0,NaN,NaN,NaN,10100,11443927,88986207,9683819,98670026,108582740,12186499,219439265,0.405516,0.044130,0.449646,325611,2333872,57538745,6323772,4632120,5340457,734445,7801336,18044340,30170560,428795,11628871,5143395,17442327,13876660,36462382,3527941,760170,186053417,6320002,8410609,6874804,207658832,0.055109,11780433,0.056730,10702,20504.509905,19403.740609,310466,103451,0.650327,0.694768,0.672548,91879434,3.307660e+07,0.159283,185202972,130585775.0,0.628800,1.636624e+08,0.788131,1.629279e+08,0.879726,21.25
6,10100,2002,602,152.0,401,27.0,15.0,7.0,6.0,200806,1.0,NaN,NaN,2008,10100,382.0,4894.0,908.0,27.0,1592.0,NaN,NaN,405.0,4660.0,757.0,96.0,NaN,NaN,NaN,10100,11443927,88986207,9683819,98670026,108582740,12186499,219439265,0.405516,0.044130,0.449646,325611,2333872,57538745,6323772,4632120,5340457,734445,7801336,18044340,30170560,428795,11628871,5143395,17442327,13876660,36462382,3527941,760170,186053417,6320002,8410609,6874804,207658832,0.055109,11780433,0.056730,10702,20504.509905,19403.740609,310466,103451,0.650327,0.694768,0.672548,91879434,3.307660e+07,0.159283,185202972,130585775.0,0.628800,1.636624e+08,0.788131,1.629279e+08,0.879726,21.25
7,10100,2003,587,43.0,353,24.0,13.0,154.0,4.0,200806,1.0,NaN,NaN,2008,10100,382.0,4894.0,908.0,27.0,1592.0,NaN,NaN,405.0,4660.0,757.0,96.0,NaN,NaN,NaN,10100,11443927,88986207,9683819,98670026,108582740,12186499,219439265,0.405516,0.044130,0.449646,325611,2333872,57538745,6323772,4632120,5340457,734445,7801336,18044340,30170560,428795,11628871,5143395,17442327,13876660,36462382,3527941,760170,186053417,6320002,8410609,6874804,207658832,0.055109,11780433,0.056730,10702,20504.509905,19403.740609,310466,103451,0.650327,0.694768,0.672548,91879434,3.307660e+07,0.159283,185202972,130585775.0,0.628800,1.636624e+08,0.788131,1.629279e+08,0.879726,21.25
8,10100,2003,587,72.0,422,39.0,13.0,41.0,5.0,200806,1.0,NaN,NaN,2008,10100,382.0,4894.0,908.0,27.0,1592.0,NaN,NaN,405.0,4660.0,757.0,96.0,NaN,NaN,NaN,10100,11443927,88986207,9683819,98670026,108582740,12186499,219439265,0.405516,0.044130,0.449646,325611,2333872,57538745,6323772,4632120,5340457,734445,7801336,18044340,30170560,428795,11628871,5143395,17442327,13876660,36462382,3527941,760170,186053417,6320002,8410609,6874804,207658832,0.055109,11780433,0.056730,10702,20504.509905,19403.740609,310466,103451,0.650327,0.694768,0.672548,91879434,3.307660e+07,0.159283,185202972,130585775.0,0.628800,1.636624e+08,0.788131,1.629279e+08,0.879726,21.25
9,10100,2004,692,86.0,391,34.0,4.0,177.0,4.0,200806,1.0,NaN,NaN,2008,10100,382.0,4894.0,908.0,27.0,1592.0,NaN,NaN,405.0,4660.0,757.0,96.0,NaN,NaN,NaN,10100,11443927,88986207,9683819,98670026,108582740,12186499,219439265,0.405516,0.044130,0.449646,325611,2333872,57538745,6323772,4632120,5340457,734445,7801336,18044340,30170560,428795,11628871,5143395,17442327,13876660,36462382,3527941,760170,186053417,6320002,8410609,6874804,207658832,0.055109,11780433,0.056730,10702,20504.509905,19403.740609,310466,103451,0.650327,0.694768,0.672548,91879434,3.307660e+07,0.159283,185202972,130585775.0,0.628800,1.636624e+08,0.788131,1.629279e+08,0.879726,21.25
10,10100,2004,692,86.0,422,34.0,4.0,146.0,4.8,200806,1.0,NaN,NaN,2008,10100,382.0,4894.0,908.0,27.0,1592.0,NaN,NaN,405.0,4660.0,757.0,96.0,NaN,NaN,NaN,10100,11443927,88986207,9683819,98670026,108582740,12186499,219439265,0.405516,0.044130,0.449646,325611,2333872,57538745,6323772,4632120,5340457,734445,7801336,18044340,30170560,428795,11628871,5143395,17442327,13876660,36462382,3527941,760170,186053417,6320002,8410609,6874804,207658832,0.055109,11780433,0.056730,10702,20504.509905,19403.740609,310466,103451,0.650327,0.694768,0.672548,91879434,3.307660e+07,0.159283,185202972,130585775.0,0.628800,1.636624e+08,0.788131,1.629279e+08,0.879726,21.25
11,10100,2004,677,122.0,453,41.0,7.0,54.0,5.0,200906,1.0,NaN,NaN,2009,10100,463.0,4834.0,946.0,44.0,1687.0,NaN,NaN,502.0,4015.0,676.0,5.0,NaN,NaN,NaN,10100,21418880,83680866,9285758,92966624,109899299,21809847,224675770,0.372452,0.041330,0.413781,400060,2066613,58943059,6310445,4771588,5478167,104636,8201820,17248933,36382684,361152,10917401,4012540,18984955,12591807,35589302,3202637,2416650,192395147,6389009,9137435,7631707,215553298,0.099367,9122472,0.042321,10929,20557.761003,19723.057736,370462,114589,0.696095,0.694479,0.695287,92752192,3.301978e+07,0.153186,190573861,137441332.0,0.637621,1.704611e+08,0.790807,1.703565e+08,0.893913,21.01
12,10100,2003,585,87.0,431,40.0,13.0,14.0,6.0,200906,1.0,NaN,NaN,2009,10100,463.0,4834.0,946.0,44.0,1687.0,NaN,NaN,502.0,4015.0,676.0,5.0,NaN,NaN,NaN,10100,21418880,83680866,9285758,92966624,109899299,21809847,224675770,0.372452,0.041330,0.413781,400060,2066613,58943059,6310445,4771588,5478167,104636,8201820,17248933,36382684,361152,10917401,4012540,18984955,12591807,35589302,3202637,2416650,192395147,6389009,9137435,7631707,215553298,0.099367,9122472,0.042321,10929,20557.761003,19723.057736,370462,114589,0.696095,0.694479,0.695287,92752192,3.301978e+07,0.153186,190573861,137441332.0,0.637621,1.704611e+08,0.790807,1.703565e+08,0.893913,21.01
13,10100,2005,718,152.0,350,36.0,6.0,174.0,4.0,200906,1.0,NaN,NaN,2009,10100,463.0,4834.0,946.0,44.0,1687.0,NaN,NaN,502.0,4015.0,676.0,5.0,NaN,NaN,NaN,10100,21418880,83680866,9285758,92966624,109899299,21809847,224675770,0.372452,0.041330,0.413781,400060,2066613,58943059,6310445,4771588,5478167,104636,8201820,17248933,36382684,361152,10917401,4012540,18984955,12591807,35589302,3202637,2416650,192395147,6389009,9137435,7631707,215553298,0.099367,9122472,0.042321,10929,20557.761003,19723.057736,370462,114589,0.696095,0.694479,0.695287,92752192,3.301978e+07,0.153186,190573861,137441332.0,0.637621,1.704611e+08,0.790807,1.703565e+08,0.893913,21.01
14,10100,2005,718,152.0,379,36.0,6.0,145.0,4.8,200906,1.0,NaN,NaN,2009,10100,463.0,4834.0,946.0,44.0,1687.0,NaN,NaN,502.0,4015.0,676.0,5.0,NaN,NaN,NaN,10100,21418880,83680866,9285758,92966624,109899299,21809847,224675770,0.372452,0.041330,0.413781,400060,2066613,58943059,6310445,4771588,5478167,104636,8201820,17248933,36382684,361152,10917401,4012540,18984955,12591807,35589302,3202637,2416650,192395147,6389009,9137435,7631707,215553298,0.099367,9122472,0.042321,10929,20557.761003,19723.057736,370462,114589,0.696095,0.694479,0.695287,92752192,3.301978e+07,0.153186,190573861,137441332.0,0.637621,1.704611e+08,0.790807,1.703565e+08,0.893913,21.01
15,10100,2005,719,192.0,427,44.0,3.0,53.0,5.0,201006,1.0,NaN,NaN,2010,10100,539.0,4874.0,1009.0,37.0,1697.0,NaN,NaN,534.0,4275.0,628.0,72.0,NaN,NaN,NaN,10100,15586018,78024625,9583552,87608177,112564044,19445832,219618053,0.355274,0.043637,0.398912,479126,1842943,58529846,5805625,4490268,6077726,326886,7678209,16681345,41111625,63085,11040488,5768806,19033293,13574618,38376717,2607063,642815,195753767,6837068,8267608,7998064,218856507,0.071216,761546,0.003480,10805,20325.594910,20255.114021,413342,130510,0.692017,0.688707,0.690362,91584810,3.580966e+07,0.163622,195034066,140701530.0,0.642894,1.765112e+08,0.806516,1.761843e+08,0.903351,21.66
16,10100,2006,703,170.0,332,31.0,7.0,163.0,4.0,201006,1.0,NaN,NaN,2010,10100,539.0,4874.0,1009.0,37.0,1697.0,NaN,NaN,534.0,4275.0,628.0,72.0,NaN,NaN,NaN,10100,15586018,78024625,9583552,87608177,112564044,19445832,219618053,0.355274,0.043637,0.398912,479126,1842943,58529846,5805625,4490268,6077726,326886,7678209,16681345,41111625,63085,11040488,5768806,19033293,13574618,38376717,2607063,642815,195753767,6837068,8267608,7998064,218856507,0.071216,761546,0.003480,10805,20325.594910,20255.114021,413342,130510,0.692017,0.688707,0.690362,91584810,3.580966e+07,0.163622,195034066,140701530.0,0.642894,1.765112e+08,0.806516,1.761843e+08,0.903351,21.66
17,10100,2004,667,148.0,461,44.0,5.0,9.0,6.0,201006,1.0,NaN,NaN,2010,10100,539.0,4874.0,1009.0,37.0,1697.0,NaN,NaN,534.0,4275.0,628.0,72.0,NaN,NaN,NaN,10100,15586018,78024625,9583552,87608177,112564044,19445832,219618053,0.355274,0.043637,0.398912,479126,1842943,58529846,5805625,4490268,6077726,326886,7678209,16681345,41111625,63085,11040488,5768806,19033293,13574618,38376717,2607063,642815,195753767,6837068,8267608,7998064,218856507,0.071216,761546,0.003480,10805,20325.594910,20255.114021,413342,130510,0.692017,0.688707,0.690362,91584810,3.580966e+07,0.163622,195034066,140701530.0,0.642894,1.765112e+08,0.806516,1.761843e+08,0.903351,21.66
18,10100,2006,713,231.0,392,36.0,6.0,48.0,4.8,201106,1.0,NaN,NaN,2011,10100,597.0,4416.0,1095.0,34.0,1682.0,NaN,NaN,540.0,4785.0,546.0,148.0,NaN,NaN,NaN,10100,9870734,77571936,9910824,87482760,115023136,20095860,222601756,0.348479,0.044523,0.393001,473525,2127213,54505999,5987179,6014873,6352018,345252,7955727,17282369,44875488,64481,9747946,6690499,20831629,13633534,41155662,2778175,335000,200000907,7003734,12808228,8203792,228016661,0.043290,-5414905,-0.023748,11083,20084.973022,20573.550573,413037,121701,0.688969,0.704288,0.696629,90142438,4.029367e+07,0.176714,199655655,143318905.0,0.628546,1.836126e+08,0.805259,1.832673e+08,0.917917,23.62
19,10100,2005,718,209.0,443,44.0,2.0,20.0,6.0,201106,1.0,NaN,NaN,2011,10100,597.0,4416.0,1095.0,34.0,1682.0,NaN,NaN,540.0,4785.0,546.0,148.0,NaN,NaN,NaN,10100,9870734,77571936,9910824,87482760,115023136,20095860,222601756,0.348479,0.044523,0.393001,473525,2127213,54505999,5987179,6014873,6352018,345252,7955727,17282369,44875488,64481,9747946,6690499,20831629,13633534,41155662,2778175,335000,200000907,7003734,12808228,8203792,228016661,0.043290,-5414905,-0.023748,11083,20084.973022,20573.550573,413037,121701,0.688969,0.704288,0.696629,90142438,4.029367e+07,0.176714,199655655,143318905.0,0.628546,1.836126e+08,0.805259,1.832673e+08,0.917917,23.62

In [86]:
148 + 464 + 16 + 30

658

In [13]:
# df.to_csv("/Users/dave/src/CSE6242/Data/apm_demo_faru_grad.csv")

Series([], Name: gr_local_cnt, dtype: int64)