In [1]:
# import statements
import pandas as pd
import numpy as np
import pickle
import sys
sys.setrecursionlimit(10000)
import sys, subprocess, os
from io import StringIO
import pandas as pd
verbose = True

In [2]:
##
# import data 
##

#import grad rate 2019
grad_2019 = pd.read_csv("/Users/nickorangio/NYC_hs_grad/gradrate/GRAD_RATE_AND_OUTCOMES_2019.csv")

#import grad rate 2018 
grad_2018 = pd.read_csv("/Users/nickorangio/NYC_hs_grad/gradrate_2018/GRAD_RATE_AND_OUTCOMES_2018.csv")

#import grad rate 2017
grad_2017 = pd.read_csv("/Users/nickorangio/NYC_hs_grad/gradrate_2017/GRAD_RATE_AND_OUTCOMES_2017.csv")

#import grad rate 2016
grad_2016 = pd.read_csv("/Users/nickorangio/NYC_hs_grad/gradrate_2016/GRAD_RATE_AND_OUTCOMES_2016.csv")

#import grad rate 2015 
grad_2015 = pd.read_csv("/Users/nickorangio/NYC_hs_grad/gradrate_2015/GRAD_RATE_AND_OUTCOMES_2015.csv")

#import pickles, currently not functional due to recursion error 
#pickle_grad = pd.read_pickle(r"/Users/nickorangio/NYC_hs_grad/df_grad_rate_19.pkl")
#staff_pickle = pd.read_pickle("/Users/nickorangio/NYC_hs_grad/df_staff_qualifications_18.pkl")

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3051: DtypeWarning: Columns (5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3051: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
grad_2019.head()

,report_school_year,aggregation_index,aggregation_type,aggregation_code,aggregation_name,entity_inactive_date,lea_beds,lea_name,nrc_code,nrc_desc,...,reg_adv_cnt,reg_adv_pct,non_diploma_credential_cnt,non_diploma_credential_pct,still_enr_cnt,still_enr_pct,ged_cnt,ged_pct,dropout_cnt,dropout_pct
0,2018-19,0,Statewide,0,All Districts and Charters,NaN,NaN,NaN,NaN,NaN,...,68331,33%,2756,1%,5417,3%,1374,1%,18866,9%
1,2018-19,0,Statewide,0,All Districts and Charters,NaN,NaN,NaN,NaN,NaN,...,36981,37%,909,1%,2006,2%,541,1%,7442,7%
2,2018-19,0,Statewide,0,All Districts and Charters,NaN,NaN,NaN,NaN,NaN,...,31350,29%,1847,2%,3411,3%,833,1%,11424,11%
3,2018-19,0,Statewide,0,All Districts and Charters,NaN,NaN,NaN,NaN,NaN,...,228,18%,26,2%,49,4%,17,1%,209,17%
4,2018-19,0,Statewide,0,All Districts and Charters,NaN,NaN,NaN,NaN,NaN,...,4329,12%,633,2%,1567,4%,342,1%,4851,13%

In [4]:
grad_2019.columns

Index(['report_school_year', 'aggregation_index', 'aggregation_type',
       'aggregation_code', 'aggregation_name', 'entity_inactive_date',
       'lea_beds', 'lea_name', 'nrc_code', 'nrc_desc', 'county_code',
       'county_name', 'nyc_ind', 'boces_code', 'boces_name', 'membership_code',
       'membership_key', 'membership_desc', 'subgroup_code', 'subgroup_name',
       'enroll_cnt', 'grad_cnt', 'grad_pct', 'local_cnt', 'local_pct',
       'reg_cnt', 'reg_pct', 'reg_adv_cnt', 'reg_adv_pct',
       'non_diploma_credential_cnt', 'non_diploma_credential_pct',
       'still_enr_cnt', 'still_enr_pct', 'ged_cnt', 'ged_pct', 'dropout_cnt',
       'dropout_pct'],
      dtype='object')

In [5]:
grad_2018.columns

Index(['REPORT_SCHOOL_YEAR', 'AGGREGATION_INDEX', 'AGGREGATION_TYPE',
       'AGGREGATION_CODE', 'AGGREGATION_NAME', 'LEA_BEDS', 'LEA_NAME',
       'NRC_CODE', 'NRC_DESC', 'COUNTY_CODE', 'COUNTY_NAME', 'NYC_IND',
       'BOCES_CODE', 'BOCES_NAME', 'MEMBERSHIP_CODE', 'MEMBERSHIP_KEY',
       'MEMBERSHIP_DESC', 'SUBGROUP_CODE', 'SUBGROUP_NAME', 'ENROLL_CNT',
       'GRAD_CNT', 'GRAD_PCT', 'LOCAL_CNT', 'LOCAL_PCT', 'REG_CNT', 'REG_PCT',
       'REG_ADV_CNT', 'REG_ADV_PCT', 'NON_DIPLOMA_CREDENTIAL_CNT',
       'NON_DIPLOMA_CREDENTIAL_PCT', 'STILL_ENR_CNT', 'STILL_ENR_PCT',
       'GED_CNT', 'GED_PCT', 'DROPOUT_CNT', 'DROPOUT_PCT'],
      dtype='object')

In [6]:
grad_2017.columns

Index(['REPORT_SCHOOL_YEAR', 'AGGREGATION_INDEX', 'AGGREGATION_TYPE',
       'AGGREGATION_CODE', 'AGGREGATION_NAME', 'LEA_BEDS', 'LEA_NAME',
       'NRC_CODE', 'NRC_DESC', 'COUNTY_CODE', 'COUNTY_NAME', 'NYC_IND',
       'BOCES_CODE', 'BOCES_NAME', 'MEMBERSHIP_CODE', 'MEMBERSHIP_KEY',
       'MEMBERSHIP_DESC', 'SUBGROUP_CODE', 'SUBGROUP_NAME', 'ENROLL_CNT',
       'GRAD_CNT', 'GRAD_PCT', 'LOCAL_CNT', 'LOCAL_PCT', 'REG_CNT', 'REG_PCT',
       'REG_ADV_CNT', 'REG_ADV_PCT', 'NON_DIPLOMA_CREDENTIAL_CNT',
       'NON_DIPLOMA_CREDENTIAL_PCT', 'STILL_ENR_CNT', 'STILL_ENR_PCT',
       'GED_CNT', 'GED_PCT', 'DROPOUT_CNT', 'DROPOUT_PCT'],
      dtype='object')

In [7]:
grad_2016.columns

Index(['REPORT_SCHOOL_YEAR', 'AGGREGATION_INDEX', 'AGGREGATION_TYPE',
       'AGGREGATION_CODE', 'AGGREGATION_NAME', 'ENTITY_INACTIVE_DATE',
       'LEA_BEDS', 'LEA_NAME', 'NRC_CODE', 'NRC_DESC', 'COUNTY_CODE',
       'COUNTY_NAME', 'NYC_IND', 'BOCES_CODE', 'BOCES_NAME', 'MEMBERSHIP_CODE',
       'MEMBERSHIP_KEY', 'MEMBERSHIP_DESC', 'SUBGROUP_CODE', 'SUBGROUP_NAME',
       'ENROLL_CNT', 'GRAD_CNT', 'GRAD_PCT', 'LOCAL_CNT', 'LOCAL_PCT',
       'REG_CNT', 'REG_PCT', 'REG_ADV_CNT', 'REG_ADV_PCT',
       'NON_DIPLOMA_CREDENTIAL_CNT', 'NON_DIPLOMA_CREDENTIAL_PCT',
       'STILL_ENR_CNT', 'STILL_ENR_PCT', 'GED_CNT', 'GED_PCT', 'DROPOUT_CNT',
       'DROPOUT_PCT'],
      dtype='object')

In [8]:
grad_2015.columns

Index(['REPORT_SCHOOL_YEAR', 'AGGREGATION_INDEX', 'AGGREGATION_TYPE',
       'AGGREGATION_CODE', 'AGGREGATION_NAME', 'LEA_BEDS', 'LEA_NAME',
       'NRC_CODE', 'NRC_DESC', 'COUNTY_CODE', 'COUNTY_NAME', 'NYC_IND',
       'BOCES_CODE', 'BOCES_NAME', 'MEMBERSHIP_CODE', 'MEMBERSHIP_KEY',
       'MEMBERSHIP_DESC', 'SUBGROUP_CODE', 'SUBGROUP_NAME', 'ENROLL_CNT',
       'GRAD_CNT', 'GRAD_PCT', 'LOCAL_CNT', 'LOCAL_PCT', 'REG_CNT', 'REG_PCT',
       'REG_ADV_CNT', 'REG_ADV_PCT', 'NON_DIPLOMA_CREDENTIAL_CNT',
       'NON_DIPLOMA_CREDENTIAL_PCT', 'STILL_ENR_CNT', 'STILL_ENR_PCT',
       'GED_CNT', 'GED_PCT', 'DROPOUT_CNT', 'DROPOUT_PCT'],
      dtype='object')

In [9]:
#make all column headers lowercase
grad_2018.columns = map(str.lower, grad_2018.columns)
grad_2017.columns = map(str.lower, grad_2017.columns)
grad_2016.columns = map(str.lower, grad_2016.columns)
grad_2015.columns = map(str.lower, grad_2015.columns)

In [10]:
#number of columns in each dataframe
print(len(grad_2019.columns))
print(len(grad_2018.columns))
print(len(grad_2017.columns))
print(len(grad_2016.columns))
print(len(grad_2015.columns))

37
36
36
37
36

In [11]:
#drop entity inactive date column from 2019 and 2016
grad_2019 = grad_2019.drop("entity_inactive_date", 1)
grad_2016 = grad_2016.drop("entity_inactive_date", 1)

In [12]:
#number of columns in each dataframe
print(len(grad_2019.columns))
print(len(grad_2018.columns))
print(len(grad_2017.columns))
print(len(grad_2016.columns))
print(len(grad_2015.columns))

36
36
36
36
36

In [13]:
#check that all headers are matching 
print(grad_2019.columns == grad_2018.columns)
print(grad_2018.columns == grad_2017.columns)
print(grad_2017.columns == grad_2016.columns)
print(grad_2016.columns == grad_2015.columns)

[ True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True]
[ True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True]
[ True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True]
[ True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True]

In [14]:
# join dataframes 
combined_grad = grad_2019.append([grad_2018, grad_2017, grad_2016, grad_2015])

In [15]:
# check row count adds up
print(len(combined_grad.index))

print(len(grad_2019.index) + len(grad_2018.index) + len(grad_2017.index) + len(grad_2016.index) + len(grad_2015.index))

674977
674977

In [16]:
# export as csv
combined_grad.to_csv("/Users/nickorangio/NYC_hs_grad/combined_grad.csv")

In [17]:
combined_grad.head()

,report_school_year,aggregation_index,aggregation_type,aggregation_code,aggregation_name,lea_beds,lea_name,nrc_code,nrc_desc,county_code,...,reg_adv_cnt,reg_adv_pct,non_diploma_credential_cnt,non_diploma_credential_pct,still_enr_cnt,still_enr_pct,ged_cnt,ged_pct,dropout_cnt,dropout_pct
0,2018-19,0,Statewide,0,All Districts and Charters,NaN,NaN,NaN,NaN,NaN,...,68331,33%,2756,1%,5417,3%,1374,1%,18866,9%
1,2018-19,0,Statewide,0,All Districts and Charters,NaN,NaN,NaN,NaN,NaN,...,36981,37%,909,1%,2006,2%,541,1%,7442,7%
2,2018-19,0,Statewide,0,All Districts and Charters,NaN,NaN,NaN,NaN,NaN,...,31350,29%,1847,2%,3411,3%,833,1%,11424,11%
3,2018-19,0,Statewide,0,All Districts and Charters,NaN,NaN,NaN,NaN,NaN,...,228,18%,26,2%,49,4%,17,1%,209,17%
4,2018-19,0,Statewide,0,All Districts and Charters,NaN,NaN,NaN,NaN,NaN,...,4329,12%,633,2%,1567,4%,342,1%,4851,13%

In [4]:
#import data from file merged with report cart data, generated via Ben's script 
total_combined = pd.read_csv("/Users/nickorangio/NYC_hs_grad/CSE6242/DataAll/df_combined_all.csv")
total_combined.head()

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3051: DtypeWarning: Columns (6,8,21) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,REPORT_SCHOOL_YEAR,AGGREGATION_INDEX,AGGREGATION_TYPE,AGGREGATION_CODE,AGGREGATION_NAME,ENTITY_INACTIVE_DATE,LEA_BEDS,LEA_NAME,NRC_CODE,...,GED_CNT,GED_PCT,DROPOUT_CNT,DROPOUT_PCT,YEAR,NUM_TEACH,NUM_TEACH_INEXP,NUM_OUT_CERT,PER_TEACH_INEXP,PER_OUT_CERT
0,0,2014-15,3.0,District,10100010000,ALBANY CITY SCHOOL DISTRICT,NaN,NaN,NaN,3.0,...,6,1%,180,28%,2015,1952.0,87.0,29.0,4.46,1.49
1,1,2014-15,3.0,District,10100010000,ALBANY CITY SCHOOL DISTRICT,NaN,NaN,NaN,3.0,...,0,0%,79,26%,2015,1952.0,87.0,29.0,4.46,1.49
2,2,2014-15,3.0,District,10100010000,ALBANY CITY SCHOOL DISTRICT,NaN,NaN,NaN,3.0,...,6,2%,101,30%,2015,1952.0,87.0,29.0,4.46,1.49
3,3,2014-15,3.0,District,10100010000,ALBANY CITY SCHOOL DISTRICT,NaN,NaN,NaN,3.0,...,-,-,-,-,2015,1952.0,87.0,29.0,4.46,1.49
4,4,2014-15,3.0,District,10100010000,ALBANY CITY SCHOOL DISTRICT,NaN,NaN,NaN,3.0,...,6,2%,111,32%,2015,1952.0,87.0,29.0,4.46,1.49

In [5]:
#view column names
total_combined.columns

Index(['Unnamed: 0', 'REPORT_SCHOOL_YEAR', 'AGGREGATION_INDEX',
       'AGGREGATION_TYPE', 'AGGREGATION_CODE', 'AGGREGATION_NAME',
       'ENTITY_INACTIVE_DATE', 'LEA_BEDS', 'LEA_NAME', 'NRC_CODE', 'NRC_DESC',
       'COUNTY_CODE', 'COUNTY_NAME', 'NYC_IND', 'BOCES_CODE', 'BOCES_NAME',
       'MEMBERSHIP_CODE', 'MEMBERSHIP_KEY', 'MEMBERSHIP_DESC', 'SUBGROUP_CODE',
       'SUBGROUP_NAME', 'ENROLL_CNT', 'GRAD_CNT', 'GRAD_PCT', 'LOCAL_CNT',
       'LOCAL_PCT', 'REG_CNT', 'REG_PCT', 'REG_ADV_CNT', 'REG_ADV_PCT',
       'NON_DIPLOMA_CREDENTIAL_CNT', 'NON_DIPLOMA_CREDENTIAL_PCT',
       'STILL_ENR_CNT', 'STILL_ENR_PCT', 'GED_CNT', 'GED_PCT', 'DROPOUT_CNT',
       'DROPOUT_PCT', 'YEAR', 'NUM_TEACH', 'NUM_TEACH_INEXP', 'NUM_OUT_CERT',
       'PER_TEACH_INEXP', 'PER_OUT_CERT'],
      dtype='object')

In [55]:
###
# Data Extraction for Vuong's MVP Choropleth
###

# extract county level grad rate, subgroup code and name, dropout rate
# filtered in Excel while running code to confirm row counts are accurate


#filter for county aggregation level
county_only = combined_grad[combined_grad["aggregation_type"] == "County"]
print(len(county_only.index))

# extract only for "All Students" cateogry in subgroup name 
county_all_students = county_only[(county_only["subgroup_name"] == "All Students")]
print(len(county_all_students.index))

# and has a membership code of 6, 8, or 9
county_689 = county_all_students[county_all_students["membership_code"].isin([6, 8, 9])]
print(len(county_689.index))

# select only columns needed (county name, grad percentage, dropout percentage, and report school year)

county_cols = county_689[["county_name", "grad_pct", "dropout_pct", "report_school_year"]]

#convert columns to numeric
county_cols["grad_pct"] = county_cols["grad_pct"].str.rstrip("%").astype("float") / 100
county_cols["dropout_pct"] = county_cols["dropout_pct"].str.rstrip("%").astype("float") / 100

# group by county and year and take average of each cohort (6, 8, 9) to get one value per county per year for grad_pct
# and dropout_pct

county_agg = county_cols.groupby(["county_name", "report_school_year"]).agg({"grad_pct" : "mean",
                                                "dropout_pct": "mean"})
print(len(county_agg.index))

24193
1364
930
310

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [56]:
# how many counties exist in the grad_rate dataframe?
len(county_689.groupby("county_name"))

62

In [57]:
county_689.shape

(930, 36)

In [58]:
county_cols.shape

(930, 4)

In [59]:
county_cols.head()

     county_name  grad_pct  dropout_pct report_school_year
1120      ALBANY      0.88         0.09            2018-19
1144      ALBANY      0.88         0.08            2018-19
1168      ALBANY      0.85         0.07            2018-19
1264    ALLEGANY      0.90         0.02            2018-19
1284    ALLEGANY      0.89         0.06            2018-19

In [60]:
county_agg.head()

                                grad_pct  dropout_pct
county_name report_school_year
ALBANY      2014-15             0.833333     0.090000
            2015-16             0.843333     0.093333
            2016-17             0.853333     0.083333
            2017-18             0.863333     0.083333
            2018-19             0.870000     0.080000

In [61]:
county_agg.shape

(310, 2)