In [3]:
# import statements
import pandas as pd
import numpy as np
import pickle
import sys
sys.setrecursionlimit(10000)
import sys, subprocess, os
from io import StringIO
import pandas as pd
verbose = True

In [4]:
##
# code to convert microsoft access files to pandas tables, currently not functional due to error with mdb-schema
##

def mdb_to_pandas(database_path):
    subprocess.call(["mdb-schema", database_path, "mysql"])
    # Get the list of table names with "mdb-tables"
    table_names = subprocess.Popen(["mdb-tables", "-1", database_path],
                                   stdout=subprocess.PIPE).communicate()[0]
    tables = table_names.splitlines()
    sys.stdout.flush()
    # Dump each table as a stringio using "mdb-export",
    out_tables = {}
    for rtable in tables:
        table = rtable.decode()
        if verbose: print('running table:',table)
        if table != '':
            if verbose: print("Dumping " + table)
            contents = subprocess.Popen(["mdb-export", database_path, table],
                                        stdout=subprocess.PIPE).communicate()[0]
            temp_io = StringIO(contents.decode())
            print(table, temp_io)
            out_tables[table] = pd.read_csv(temp_io)
    return out_tables

# Query tables

#database_path = '/Users/nickorangio/NYC_hs_grad/SRC2019/SRC2019_20200703.mdb'
#out_tables = mdb_to_pandas(database_path)
#table_names = list(out_tables.keys())
#df_staff_qualifications_18 = out_tables['Staff Qualifications']

In [5]:
##
# import data 
##

#import grad rate 2019
grad_2019 = pd.read_csv("/Users/nickorangio/NYC_hs_grad/gradrate/GRAD_RATE_AND_OUTCOMES_2019.csv")

#import grad rate 2018 
grad_2018 = pd.read_csv("/Users/nickorangio/NYC_hs_grad/gradrate_2018/GRAD_RATE_AND_OUTCOMES_2018.csv")

#import grad rate 2017
grad_2017 = pd.read_csv("/Users/nickorangio/NYC_hs_grad/gradrate_2017/GRAD_RATE_AND_OUTCOMES_2017.csv")

#import grad rate 2016
grad_2016 = pd.read_csv("/Users/nickorangio/NYC_hs_grad/gradrate_2016/GRAD_RATE_AND_OUTCOMES_2016.csv")

#import grad rate 2015 
grad_2015 = pd.read_csv("/Users/nickorangio/NYC_hs_grad/gradrate_2015/GRAD_RATE_AND_OUTCOMES_2015.csv")

#import pickles, currently not functional due to recursion error 
#pickle_grad = pd.read_pickle(r"/Users/nickorangio/NYC_hs_grad/df_grad_rate_19.pkl")
#staff_pickle = pd.read_pickle("/Users/nickorangio/NYC_hs_grad/df_staff_qualifications_18.pkl")

/Users/nickorangio/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/nickorangio/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
grad_2019.head()

,report_school_year,aggregation_index,aggregation_type,aggregation_code,aggregation_name,entity_inactive_date,lea_beds,lea_name,nrc_code,nrc_desc,...,reg_adv_cnt,reg_adv_pct,non_diploma_credential_cnt,non_diploma_credential_pct,still_enr_cnt,still_enr_pct,ged_cnt,ged_pct,dropout_cnt,dropout_pct
0,2018-19,0,Statewide,0,All Districts and Charters,NaN,NaN,NaN,NaN,NaN,...,68331,33%,2756,1%,5417,3%,1374,1%,18866,9%
1,2018-19,0,Statewide,0,All Districts and Charters,NaN,NaN,NaN,NaN,NaN,...,36981,37%,909,1%,2006,2%,541,1%,7442,7%
2,2018-19,0,Statewide,0,All Districts and Charters,NaN,NaN,NaN,NaN,NaN,...,31350,29%,1847,2%,3411,3%,833,1%,11424,11%
3,2018-19,0,Statewide,0,All Districts and Charters,NaN,NaN,NaN,NaN,NaN,...,228,18%,26,2%,49,4%,17,1%,209,17%
4,2018-19,0,Statewide,0,All Districts and Charters,NaN,NaN,NaN,NaN,NaN,...,4329,12%,633,2%,1567,4%,342,1%,4851,13%

In [7]:
grad_2019.columns

Index(['report_school_year', 'aggregation_index', 'aggregation_type',
       'aggregation_code', 'aggregation_name', 'entity_inactive_date',
       'lea_beds', 'lea_name', 'nrc_code', 'nrc_desc', 'county_code',
       'county_name', 'nyc_ind', 'boces_code', 'boces_name', 'membership_code',
       'membership_key', 'membership_desc', 'subgroup_code', 'subgroup_name',
       'enroll_cnt', 'grad_cnt', 'grad_pct', 'local_cnt', 'local_pct',
       'reg_cnt', 'reg_pct', 'reg_adv_cnt', 'reg_adv_pct',
       'non_diploma_credential_cnt', 'non_diploma_credential_pct',
       'still_enr_cnt', 'still_enr_pct', 'ged_cnt', 'ged_pct', 'dropout_cnt',
       'dropout_pct'],
      dtype='object')

In [8]:
grad_2018.columns

Index(['REPORT_SCHOOL_YEAR', 'AGGREGATION_INDEX', 'AGGREGATION_TYPE',
       'AGGREGATION_CODE', 'AGGREGATION_NAME', 'LEA_BEDS', 'LEA_NAME',
       'NRC_CODE', 'NRC_DESC', 'COUNTY_CODE', 'COUNTY_NAME', 'NYC_IND',
       'BOCES_CODE', 'BOCES_NAME', 'MEMBERSHIP_CODE', 'MEMBERSHIP_KEY',
       'MEMBERSHIP_DESC', 'SUBGROUP_CODE', 'SUBGROUP_NAME', 'ENROLL_CNT',
       'GRAD_CNT', 'GRAD_PCT', 'LOCAL_CNT', 'LOCAL_PCT', 'REG_CNT', 'REG_PCT',
       'REG_ADV_CNT', 'REG_ADV_PCT', 'NON_DIPLOMA_CREDENTIAL_CNT',
       'NON_DIPLOMA_CREDENTIAL_PCT', 'STILL_ENR_CNT', 'STILL_ENR_PCT',
       'GED_CNT', 'GED_PCT', 'DROPOUT_CNT', 'DROPOUT_PCT'],
      dtype='object')

In [9]:
grad_2017.columns

Index(['REPORT_SCHOOL_YEAR', 'AGGREGATION_INDEX', 'AGGREGATION_TYPE',
       'AGGREGATION_CODE', 'AGGREGATION_NAME', 'LEA_BEDS', 'LEA_NAME',
       'NRC_CODE', 'NRC_DESC', 'COUNTY_CODE', 'COUNTY_NAME', 'NYC_IND',
       'BOCES_CODE', 'BOCES_NAME', 'MEMBERSHIP_CODE', 'MEMBERSHIP_KEY',
       'MEMBERSHIP_DESC', 'SUBGROUP_CODE', 'SUBGROUP_NAME', 'ENROLL_CNT',
       'GRAD_CNT', 'GRAD_PCT', 'LOCAL_CNT', 'LOCAL_PCT', 'REG_CNT', 'REG_PCT',
       'REG_ADV_CNT', 'REG_ADV_PCT', 'NON_DIPLOMA_CREDENTIAL_CNT',
       'NON_DIPLOMA_CREDENTIAL_PCT', 'STILL_ENR_CNT', 'STILL_ENR_PCT',
       'GED_CNT', 'GED_PCT', 'DROPOUT_CNT', 'DROPOUT_PCT'],
      dtype='object')

In [10]:
grad_2016.columns

Index(['REPORT_SCHOOL_YEAR', 'AGGREGATION_INDEX', 'AGGREGATION_TYPE',
       'AGGREGATION_CODE', 'AGGREGATION_NAME', 'ENTITY_INACTIVE_DATE',
       'LEA_BEDS', 'LEA_NAME', 'NRC_CODE', 'NRC_DESC', 'COUNTY_CODE',
       'COUNTY_NAME', 'NYC_IND', 'BOCES_CODE', 'BOCES_NAME', 'MEMBERSHIP_CODE',
       'MEMBERSHIP_KEY', 'MEMBERSHIP_DESC', 'SUBGROUP_CODE', 'SUBGROUP_NAME',
       'ENROLL_CNT', 'GRAD_CNT', 'GRAD_PCT', 'LOCAL_CNT', 'LOCAL_PCT',
       'REG_CNT', 'REG_PCT', 'REG_ADV_CNT', 'REG_ADV_PCT',
       'NON_DIPLOMA_CREDENTIAL_CNT', 'NON_DIPLOMA_CREDENTIAL_PCT',
       'STILL_ENR_CNT', 'STILL_ENR_PCT', 'GED_CNT', 'GED_PCT', 'DROPOUT_CNT',
       'DROPOUT_PCT'],
      dtype='object')

In [11]:
grad_2015.columns

Index(['REPORT_SCHOOL_YEAR', 'AGGREGATION_INDEX', 'AGGREGATION_TYPE',
       'AGGREGATION_CODE', 'AGGREGATION_NAME', 'LEA_BEDS', 'LEA_NAME',
       'NRC_CODE', 'NRC_DESC', 'COUNTY_CODE', 'COUNTY_NAME', 'NYC_IND',
       'BOCES_CODE', 'BOCES_NAME', 'MEMBERSHIP_CODE', 'MEMBERSHIP_KEY',
       'MEMBERSHIP_DESC', 'SUBGROUP_CODE', 'SUBGROUP_NAME', 'ENROLL_CNT',
       'GRAD_CNT', 'GRAD_PCT', 'LOCAL_CNT', 'LOCAL_PCT', 'REG_CNT', 'REG_PCT',
       'REG_ADV_CNT', 'REG_ADV_PCT', 'NON_DIPLOMA_CREDENTIAL_CNT',
       'NON_DIPLOMA_CREDENTIAL_PCT', 'STILL_ENR_CNT', 'STILL_ENR_PCT',
       'GED_CNT', 'GED_PCT', 'DROPOUT_CNT', 'DROPOUT_PCT'],
      dtype='object')

In [12]:
#make all column headers lowercase
grad_2018.columns = map(str.lower, grad_2018.columns)
grad_2017.columns = map(str.lower, grad_2017.columns)
grad_2016.columns = map(str.lower, grad_2016.columns)
grad_2015.columns = map(str.lower, grad_2015.columns)

In [13]:
#number of columns in each dataframe
print(len(grad_2019.columns))
print(len(grad_2018.columns))
print(len(grad_2017.columns))
print(len(grad_2016.columns))
print(len(grad_2015.columns))

37
36
36
37
36

In [14]:
#drop entity inactive date column from 2019 and 2016
grad_2019 = grad_2019.drop("entity_inactive_date", 1)
grad_2016 = grad_2016.drop("entity_inactive_date", 1)

In [15]:
#number of columns in each dataframe
print(len(grad_2019.columns))
print(len(grad_2018.columns))
print(len(grad_2017.columns))
print(len(grad_2016.columns))
print(len(grad_2015.columns))

36
36
36
36
36

In [16]:
#check that all headers are matching 
print(grad_2019.columns == grad_2018.columns)
print(grad_2018.columns == grad_2017.columns)
print(grad_2017.columns == grad_2016.columns)
print(grad_2016.columns == grad_2015.columns)

[ True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True]
[ True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True]
[ True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True]
[ True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True]

In [20]:
# join dataframes 
combined_grad = grad_2019.append([grad_2018, grad_2017, grad_2016, grad_2015])

In [29]:
# check row count adds up
print(len(combined_grad.index))

print(len(grad_2019.index) + len(grad_2018.index) + len(grad_2017.index) + len(grad_2016.index) + len(grad_2015.index))

674977
674977

In [36]:
# export combined dataframe as a pickle 
# currently even a pickle is too large for GitHub (140mb) 
# solutions pending...

# combined_grad.to_pickle("/Users/nickorangio/NYC_hs_grad/CSE6242/Data/combined_grad.pkl")